@font-face {
	font-family: 'Arkhip';
	src: url("Arkhip.ttf");
}
@font-face {
	font-family: 'Rostov';
	src: url("Rostov.ttf");
}
* {
	font-family: 'Arkhip', serif;
}
a {
	color: #22223b;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #22223b;
/*	font-family: 'Yeseva One', serif;*/
	font-family: 'Rostov', serif;
}
p {
	color: #22223b;
	word-break: break-all;
	font-family: 'Arkhip', serif;
}
nav {
	background: linear-gradient(to bottom right, #6096ba, #a3cdf1);
	display: inline-block;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	font-family: 'Arkhip', serif;
	text-align: center;
}

nav h1 {
	display: inline-block;
	overflow: hidden;
	float: left;
	margin:  10px;
	font-family: 'Arkhip', serif;
}
.menubar{
	display: inline-block;
	list-style-type: none;
	overflow: hidden;
	padding-inline-start: 0px;
}
.menubar li {
	float: left;
}
.menubar li a {
	padding: 10px;
	text-decoration: none;
	display: inline-block;	
	border-radius: 5px;
}
.menubar li a:hover {
	background-color: #e7ecef;
}
.menubar li:hover ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a3cdf1;
  position: absolute;
}
.dropdown {
  padding-inline-start: 0px;
  z-index: 2;
  display: none;
  list-style-type: none;
  margin-top, margin-bottom: 5px;
	border-radius: 5px;
}
.menu {
	display: none;
	float: right;
	box-align: center;
  border-radius: 10px;
}
.menu:hover {
	background-color: #e7ecef;
}
body {
	background-color: #e7ecef;
	margin-bottom: 0px;
}
footer {
	width: 100%;
	display: inline-block; 
	position: relative;
  background-color: #274c78;
}

.search-bar {
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 30%;
	height: 20%;
	margin: 0;
}
.search-bar input {
	font-size: 20px;
	border: none;
	display: inline-block;
	padding: 0;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	left: 0;
	transition: all .3s cubic-bezier(0, 0, 0, 0);
  	transition-property: width, border-radius;
  	z-index: 1;
  	position: relative;
  outline:none;
}
.search-bar button{
	font-family: 'Dudka';
	font-weight: bold;
	font-size: 30px;
	border: 0;
	display: inline-block;
	padding: 0;
	top: 0;
	border-radius: 0px 5px 5px 0px;
  width: 40%;
  height: 100%;
  right: 0;
	float: right;
  background-color: #a3cdf1;
  color: #4a4e69;
	position: absolute;
	cursor: pointer;
}

.search-bar input:not(:placeholder-shown) {
	left: 0;
	width: 60%;
	border-radius: 5px 0px 0px 5px;
}

.flickity-viewport {
	height: 100%;
}
.gallery-cell {
  	margin: 10px;
  	display: flex;
  	justify-content: center;
}
.gallery-cell a {
	text-decoration: none;
}
.flickity-page-dots {
  display: none;
}
.side-menubar {
	font-family: 'Yeseva One', serif;
	width: 0px;
	float: right;
	overflow: hidden;
	padding-inline-start: 0px;
	border-radius: 5px;
	position: relative;
	height: 100%;
	transition: width 0.5s;
	background-color: #e7ecef;
	z-index: 10;
}
.side-menubar ol {
	list-style-type: none;
}
.side-menubar li a {
	color: 22223b;
	padding: 10px;
	text-decoration: none;
	display: inline-block;	
	border-radius: 5px;
}
.side-menubar li a:hover {
	background-color: #a3cdf1;
}
.side-menubar li:hover ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#content {
	position: relative;
	overflow: hidden;
	width: 100%;
	z-index: 0;
}
#mask {
	backdrop-filter: blur(2px);
	display: none;
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	z-index: 9;
}
.img-back, .razdel {
	position: relative;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: top top;
	background-attachment: relative;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.footer-info {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  background-color: #274c78;
  z-index: 1;
}
.footer-info h4 {
  color: #e7ecef;
  margin: 0px;
}
.footer-info a {
  display: inline-block;
  background-color: #a3cdf1;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: 'Rostov';
}
.favourite {
    position: relative;
    float: right;
    right: 20px;
    height: 20px;
}
.favourite img {
	height: 20px;
	width: 20px;
}
