@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

@font-face {
	font-family: 'ANGST';
	src: url("Angst-NormalSerif.otf");
}
@font-face {
	font-family: 'Soledago';
	src: url("Soledago.ttf");
}
* {
	color: #22223b;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
/*	font-family: 'Yeseva One', serif;*/
	font-family: 'Soledago', serif;
}
p {
	word-break: break-all;
	font-family: 'Old Standard TT', serif;
}
nav {
	background: linear-gradient(to bottom right, #6096ba, #a3cdf1);
	display: inline-block;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	font-family: 'Yeseva One', serif;
	text-align: center;
}

nav h1 {
	display: inline-block;
	overflow: hidden;
	float: left;
	margin:  10px;
	font-family: 'Kalnia', serif;
}
.menubar{
	display: inline-block;
	list-style-type: none;
	overflow: hidden;
	padding-inline-start: 0px;
}
.menubar li {
	float: left;
}
.menubar li a {
	padding: 10px;
	text-decoration: none;
	display: inline-block;	
	border-radius: 5px;
}
.menubar li a:hover {
	background-color: #e7ecef;
}
.menubar li:hover ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a3cdf1;
  position: absolute;
}
.dropdown {
  padding-inline-start: 0px;
  z-index: 2;
  display: none;
  list-style-type: none;
  margin-top, margin-bottom: 5px;
	border-radius: 5px;
}
.menu {
	display: none;
	float: right;
	box-align: center;
  border-radius: 10px;
}
.menu:hover {
	background-color: #e7ecef;
}
body {
	background-color: #e7ecef;
	margin-bottom: 0px;
}
footer {
	width: 100%;
	display: inline-block; 
	position: relative;
  background-color: #274c78;
}
.cards {
	display: flex;
  flex-wrap: wrap;
	place-items: center;
	width: 100%;
	align-content: center;
  justify-content: space-around;
  gap: 15px;
}
.card {
	position: relative;
  	border-radius: 10px;
  	overflow: hidden;
	--size: clamp(300px, 50vmin, 200px);
}
.card:is(:hover, :focus-visible) {
  --hover: 1;
}
.card img {
	width: 300px;
  	height: 200px;
	object-fit: cover;
}
.card span {
	padding: 0;
	align-content: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 100%;
	background: hsl(0 0% 100% / 0.5);
	backdrop-filter: blur(16px);
	transform: translateY(50%)
    translateY(
      calc(
        (var(--size) * 0.4)
      )
    )
    translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
	transition: transform 0.2s;
}
.search-bar {
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 30%;
	height: 20%;
	margin: 0;
}
.search-bar input {
	font-size: 20px;
	border: none;
	display: inline-block;
	padding: 0;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	left: 0;
	transition: all .3s cubic-bezier(0, 0, 0, 0);
  	transition-property: width, border-radius;
  	z-index: 1;
  	position: relative;
  outline:none;
}
.search-bar button{
	font-family: 'ANGST';
	font-weight: bold;
	font-size: 30px;
	border: 0;
	display: inline-block;
	padding: 0;
	top: 0;
	border-radius: 0px 5px 5px 0px;
  width: 40%;
  height: 100%;
  right: 0;
	float: right;
  background-color: #a3cdf1;
  color: #4a4e69;
	position: absolute;
}

.search-bar input:not(:placeholder-shown) {
	left: 0;
	width: 60%;
	border-radius: 5px 0px 0px 5px;
}
.card-news {
	display: inline-block;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	background-color: #a3cdf1;
}
.card-news img{
	border-radius: 10px 10px 0px 0px;
	max-width: 100%;
  	display: block;
  	object-fit: cover;
}
.gallery-cell {
  	margin: 10px;
  	display: flex;
  	justify-content: center;
}
.gallery-cell img {
	width: 300px;
  	height: 200px;
}

.flickity-page-dots {
  display: none;
}
.side-menubar {
	font-family: 'Yeseva One', serif;
	width: 0px;
	float: right;
	overflow: hidden;
	padding-inline-start: 0px;
	border-radius: 5px;
	position: relative;
	height: 100%;
	transition: width 0.5s;
	background-color: #e7ecef;
	z-index: 10;
}
.side-menubar ol {
	list-style-type: none;
}
.side-menubar li a {
	color: 22223b;
	padding: 10px;
	text-decoration: none;
	display: inline-block;	
	border-radius: 5px;
}
.side-menubar li a:hover {
	background-color: #a3cdf1;
}
.side-menubar li:hover ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#content {
	position: relative;
	overflow: hidden;
	width: 100%;
	z-index: 0;
}
#mask {
	backdrop-filter: blur(2px);
	display: none;
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	z-index: 9;
}
.img-back, .razdel {
	position: relative;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: top top;
	background-attachment: relative;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.skewed {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(-5deg);
  transform-origin: top left;
}

.footer-info {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  background-color: #274c78;
  z-index: 1;
}

.footer-info h4 {
  color: #e7ecef;
  margin: 0px;
}
.footer-info a {
  display: inline-block;
  background-color: #a3cdf1;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}
